.dentiste{
    padding: 1%;
    margin-top: 6%;
    margin-left: 33%;
    text-align: center;
    width: 65%;
    background-color: rgb(136, 146, 151);
}
.dentiste p{
    text-decoration: none;
    margin-top: 14%;
}
.dentiste a{
    text-decoration: none;
    color: black;
    font-size: large;
}
input{
    border: 1px solid rgb(136, 146, 151);
}
.specialite{
    margin-top: 5%;
    box-shadow: 3px 5px 11px;
    height: 150px;
    overflow:scroll
}
.formulaire{
    grid-template-columns: 33.33% 33.33% 33.33%;
    display: grid;
}
.form-insertion{
    margin-top: 6%;
    grid-template-columns: 50% 50%;
    display: grid;
    width: 54rem;
    box-shadow: 3px 5px 11px;
    padding-left: 17%;
    padding-top: 2%;
}
.identite{
    float: left;
    margin-right: 14%;

}
input[type=submit]{
    border-radius: 3px;
    border: 1px solid rgb(136, 146, 151);
    color: rgb(136, 146, 151);
    width: 33%;
    height: 34px;
    margin: 7%;
    float: right;
}

